extends layout

block content
  h1= title
  p Welcome to #{title}

  <script src="components/jquery/dist/jquery.js"></script>
  <script src="components/underscore/underscore.js"></script>
  <script src="components/backbone/backbone.js"></script>
  script(src="/js/main.js")
  